<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=0,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>greenspin</title>
  <meta name="description" content="greenspin online casino">
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
  <link href="css/style.min.css" rel="stylesheet"/>
<!--  <link rel="preload" href="fonts/AntiqueOliTOT-Com.woff2" as="font">-->
</head>
