//colors

$primary-color-1: #27bf79;
$primary-color-2: #07a059;
$primary-color-3: #26343c;
$bcg-color-1: #293840;
$bcg-color-2: #37454c;
$additionally-color-1: #ffffff;
$additionally-color-2: rgba(41, 56, 64, 0.66);
$additionally-color-3: #a61243;
$additionally-color-4: rgba(15, 22, 27, 0.1);
$additionally-color-5: #0f161b;
$additionally-color-6: #000000;
$additionally-color-7: rgba(0, 0, 0, 0.26);
$additionally-color-8: #666975;
$additionally-color-9: #36ffa1;
$additionally-color-10: #11222b;
$additionally-color-11: #1f3037;
$additionally-color-11: #2a3d44;
$font-color: #abb4bb;

// media breakpoints

$desktop-width: 1440px;
$laptop-width: 1248px;
$tablet-width: 960px;
$big-mobile-width: 768px;
$mobile-width: 375px;
$min-width: 320px;


// Retina 2x

$retina-dpi: 192dpi;
$retina-dppx: 2dppx;

// Fonts

$main-font: "AntiqueOliTOT", "Arial", sans-serif;
$additionally-font-1: "clearsans", "Arial", sans-serif;
